{% extends 'base.html.twig' %}

{% block title %}Hello HairdressController!{% endblock %}

{% block body %}


    <h1></h1>

    <ul>
        {% for hairdresser in hairdressers %}
        {{ hairdresser.user.fullName }}
        {% endfor %}
    </ul>

{% endblock %}
