{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<h2 class="pulse ca-btn h2 my-5 mx-auto"><a href="{{ path('book_index') }}">Books</a> </h2>
    {% include '_includes/_bookHome.html.twig' %}
    <h2 class="pulse ca-btn h2 my-5 mx-auto"><a href="{{ path('hairdresser_index') }}">Choiffeuses et coiffeur</a> </h2>
    {% include '_includes/_hairdresserHome.html.twig' %}
    <h2 class="pulse ca-btn h2 my-5 mx-auto"><a href="{{ path('speciality_index') }}">Spécialités</a> </h2>
    {% include '_includes/_specialityHome.html.twig' %}



{% endblock %}
