{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<h1 class="pulse ca-btn h2 my-5 mx-auto"><a href="{{ path('book_index') }}">Book</a> </h1>
    {% include '_includes/_bookHome.html.twig' %}
    <h1 class="pulse ca-btn h2 my-5 mx-auto"><a href="{{ path('book_index') }}">Spécialité</a> </h1>
    {% include '_includes/_specialityHome.html.twig' %}
{% endblock %}
