<nav class="navbar navbar-expand-lg ca-nav">
    <a class="navbar-brand ca-logo" href="#">Salon Adeline</a>
    <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active ca-link" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link ca-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link ca-link" href="#">Pricing</a>
                </li>

            </ul>
        </div>
    </div>
</nav>