#navbarNav{margin-left:20px}
.offcanvas-start a.ca-link { padding:10px 20px; }

select::placeholder{color:red}
.ca-admin-navBar{position: absolute;margin:10px;padding:10px 15px; border-radius: 20px; border: 2px solid var(--primary-color);
background: url('../uploads/pictures/nav.png') no-repeat center center;width:70px;height:65px;
background-size:50px 45px;}
.ca-admin-navBar:hover{border: 2px solid var(--background);
    background: url('../uploads/pictures/navHover.png') no-repeat center center;background-size:50px 45px;}
.ca-admin-nav li a.ca-link {border:none;color:white;}
.ca-admin-nav li {margin:5px 20px;padding:5px 20px;}
.ca-user-admin{padding:20px; background: var(--background);display: flex;flex-wrap: wrap;justify-content: space-between;}
.ca-user-admin li{width:30%}
.fc .fc-toolbar.fc-header-toolbar{margin-bottom:0!important;}
.fc .fc-button{padding: 0.2em 0.30em;}
.ca-admin-nav #calendar{width: 100%; margin-top: 20%;
background: white}

.ca-mini-img-admin{max-width: 100px;height: 100px;
}


.ca-section{width: 80%; margin: 0}
.ca-retour a{color: var(--background);font-size: 1em;}
.ca-admin-nav .ca-rotation{display: none;}
.ca-admin-nav .fc-col-header{max-width: 100%;}
.ca-admin-nav >div{width: 80%;margin: 0 auto;}
#image-container{display: flex;flex-wrap: wrap;width: 100%}
#image-container img{min-width: 25%;
    height: fit-content;}
.ca-user-admin > div, .ca-user-admin.ca-form-header .ca-rotation{ background:white;}
.ca-user-admin > div{width: 80%;background:white;}
.ca-admin-speciality{margin-bottom:20%}
.ca-hairdresser-form.ca-admin-user> div> label{font-size: 1em}
.ca-user-display{display:none ; }
.ca-user-display .ca-h1 {margin-bottom: 20px}

/*modale delete book*/
.modaleDelete{z-index: 9999999;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 50%;
    margin-left:-200px ;
    top: 50%;
    background-color: rgba(255,255,255,1);
    border: 1px solid var(--primary-color);
    color: var(--dark-color);
    width: 400px;
    height: 50%;
    padding: 20px;
    border-radius: 10px;}
.modaleDelete span{font-size: 1.5em; font-weight: bold;
    border-radius: 10px;border: 1px solid var(--primary-color);padding:5px 10px}
.ca-delete-display-modal{
display: block;

}
/* margin-bottom: -50px;display: block}

@media screen and  (max-width: 768px) {
.ca-mini-picture{margin-top:-20px}
.ca-speciality-index{width: 100%}

.ca-user-admin{padding:0}
.ca-admin-speciality{margin-bottom:30%;    margin-top: 45%;}
.ca-admin-nav #calendar{width: 100%; margin-top: 0;
    background: white}
}