.ca-admin-nav li a.ca-link {border:none;color:white;}
.ca-admin-nav li {margin:5px 20px;padding:5px 20px;}
.ca-user-admin{padding:20px; background: var(--background);display: flex;flex-wrap: wrap;justify-content: space-between;}
.ca-user-admin li{width:30%}

.ca-admin-nav{ margin-top: 15%;}
.ca-admin-nav #calendar{width: 100%; margin-top: 20%;
background: white}

.ca-mini-img-admin{max-width: 100px;height: 100px;
}
.ca-section{width: 80%; margin: 0}
.ca-admin-nav .ca-rotation{display: none;}
.ca-admin-nav .fc-col-header{max-width: 100%;}
.ca-admin-nav >div{width: 50%;}
#image-container{display: flex;flex-wrap: wrap;width: 100%}
#image-container img{min-width: 25%;
    height: fit-content;}
.ca-user-admin > div, .ca-user-admin.ca-form-header .ca-rotation{ background:white;}
.ca-user-admin > div{width: 80%;background:white;}
/*user admin*/
