hr{width: 100%; height:10px;background: var(--primary-color);border: none;opacity: 1}
footer {margin:30px}
.ca-section-footer{justify-content: space-around; flex-wrap: wrap}
.ca-columns-footer{width:250px}
.map-footer{position: relative}
.ca-adress{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center;color:var(--background)
}
.map-footer:hover{transform: scale(1.5);transition: all 0.5s ease-in-out;)}
.ca-adress:hover, .map-footer:hover ~ .ca-adress{display:none}
.navbar-footer{display: flex;flex-direction: column;align-items: center}
.navbar-footer li a, .navbar-footer li {padding: 5px 10px}
