.ca-form-header{margin-top: 20%;justify-content: center;transform: skewY(0deg);}
.ca-login{margin-top:10%}
.ca-form-header .bi{font-size: 84px; position: relative;color: var(--primary-color);
    left: 50%;
    margin-left: -42px;}
.ca-form-header img{position: relative;}
.ca-h1-form{font-family: var(--text-font);text-align: center;}
.ca-form-header .ca-rotation{padding : 60px 30px;background: var(--primary-color);rotate: 0deg;}
.ca-form-header input{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border:none;
    padding: 0 10px;
    font-size: 16px;
    margin-bottom: 10px;
}
.ca-form-header input:focus{
    transform:scale(1.1);transition: 0.5s all ease-in-out;
    outline: none;
    border-bottom: none;
    border-left: none;
}
.ca-form-header label{display: block; margin: 5px 0;font-family: var(--text-font);}
.ca-form-header form{width: 90%;}
.ca-form-header input[type="checkbox"]{height: 20px;width:50px;margin-top: 10px;}
.ca-form-header label[for="registration_form_agreeTerms"]{display: inline-block;position: relative; top: -5px;}
.ca-form-btn{width:100%;text-align: center;}
.ca-form-header .ca-btn{

    font-family: var(--text-font);
    color: var(--light-color);
    cursor: pointer;
    transition: 0.5s linear;
}
.ca-form-header .ca-btn:hover{
    background: var(--light-color);
    color: var(--primary-color);
}
.ca-text-font{font-family: var(--text-font);}
.ca-text-font a{color: var(--background);}
@media screen and (max-width: 768px){
    .ca-form-header{margin-top: 20%;}
}
@media screen and (max-width: 600px){
    .ca-form-header{margin-top: 25%;}
    .ca-form-header .ca-rotation{padding : 40px 30px; margin-top: -50px;}

}