@import 'style/nav.css';
@import 'style/home.css';
@import 'style/book.css';
@import 'style/form.css';



@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=BenchNine:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofadi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Preahvihear&display=swap');
:root {
    --primary-color: #0081a7;
    --secondary-color: #ffea98;
    --background: #FAE0DF;
    --dark-color: #303030;
    --light-color: #fff;
    --text-font:  'Preahvihear', sans-serif;
    --script-font: 'Arizonia', cursive;
    --border-radius: 0.5rem;
    --transition: all 0.3s linear;
    --color: #ef6eae;
    --hover: #ef6eae;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{cursor: pointer;text-decoration: none;color: var(--primary-color);font-family: var(--text-font);transition: var(--transition);}
a.ca-link {border-bottom: 3px solid var(--light-color);
    font-family: var( --text-font);transition: var(--transition)

}
a.ca-link:hover {

    border-bottom: 3px solid var(--background);
    box-shadow: 0 0 10px rgba(250,224,223, 0.7);
}
p {font-family: var( --text-font);
    font-size: 1rem;}
img{width:100%;}




.pulse:hover,
.pulse:focus {
    animation: pulse 1s;
    box-shadow: 0 0 0 1em transparent;
}

.ca-btn{
    background: none;
    border: 2px solid;
    display: initial;
    line-height: 1;
    margin: 0.5em;
    padding: 0.5em 2em;
    font-family: var(--text-font);
    color: var(--primary-color);
    cursor: pointer;
    transition: 0.25s;
}
@keyframes pulse {
    0% { box-shadow: 0 0 0 0 var(--primary-color); }
        }




