{% extends 'base.html.twig' %}

{% block title %}Hello BookController!{% endblock %}

{% block body %}
   <h1>Ajouter une coiffure</h1>
    {{ include('speciality/_form.html.twig', {'button_label': 'Valider'}) }}

{% endblock %}