{% extends 'baseAdmin.html.twig' %}

{% block title %}Hello Admin{% endblock %}
{% block headerH1 %}<h1 class="h2 ca-h1-form mx-auto text-center pt-3">
    Bonjour {{ admin.fullname }}</h1>{% endblock %}
{% block headerImg %}
    <div id="calendar"></div>

{% endblock %}
{% block CssHeader %}ca-admin-nav {% endblock %}
{% block headerPara %}
    <p>
        Bienvenue sur votre tableau de bord<br>
        Sur cette premiere page, vous trouverez dans les utilisateurs.<br>
        Vous pouvez utiliser le menu pour créer de nouveaux articles Books,<br>
        Et créer de nouvelles tarifications.
    </p>{% endblock %}
{% block headerReservation %}{% endblock %}
{% block body %}

{% endblock %}
{% block javascript %}
<script src="
        https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js
    "></script>
<script>
    window.onload = () => {
    let calendarEl = document.getElementById('calendar');
    let calendar = new FullCalendar.Calendar(calendarEl, {
    themeSystem: 'journal',
    initialView: 'timeGridWeek',
    timeZone: 'Europe/Paris',
    locale: 'fr',
    headerToolbar: {
    left: 'prev,next',
    center: 'title',
    right: 'dayGridMonth,timeGridWeek'
},
    slotMinTime: '09:00',
    slotMaxTime: '19:00',
    dayHeaders: true,
    views: {
    timeGridWeek: {
    type: 'timeGrid',
    duration: { days: 7 },
    buttonText: 'Semaine',
    dayHeaderFormat: { weekday: 'short' },
    hiddenDays: [0, 1]
}
},
    businessHours: {
    daysOfWeek: [2, 3, 4, 5, 6], // Mardi à Samedi
    startTime: '09:00', // Heure de début
    endTime: '19:00' // Heure de fin
},
    events: JSON.parse('{{ data|raw }}')
    });

    calendar.render();
};

    </script>
{% endblock %}