{% extends 'base.html.twig' %}

{% block title %}Hello BookController!{% endblock %}

{% block body %}
   <h1>modifier cette coiffure</h1>
    {{ include('book/_form.html.twig', {'button_label': 'Valider'}) }}
    
{% endblock %}