{% extends 'base.html.twig' %}

{% block title %}Hello BookController!{% endblock %}

{% block body %}
<h1 class="BookController">Tout le book</h1>
{% for book in books %}
    {{ book.titleBook }}

    {{ book.content }}
    {% for image in book.pictures %}
        <img src="{{asset('assets/uploads/pictures/mini/300x300-' ~ image.name) }}" alt="">
    {% endfor %}
    {% endfor %}
{% endblock %}
