{% extends 'base.html.twig' %}

{% block title %}Hello BookController!{% endblock %}

{% block body %}
   <h1>modifier cette spécialité</h1>
    {{ include('admin/hairdress/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

   {%  if hairdresser.picture is not null %}
        <a href="{{path('pictures_delete_speciality', {id: speciality.picture.id})}}">
            <img src="{{asset('assets/uploads/pictures/mini/300x300-' ~ hairdresser.picture.name) }}" alt="">
        </a>

{% endif %}
{% endblock %}